*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    background-color: #161718;
    width: 100%;
    padding: 20px 0 20px 0 ;
    display: flex;
    flex-direction: row;
    gap: inherit;
    justify-content: space-around;
    align-items: center;
    
}

.logo{
    width: 30px;
}
.logo-2{
    width: 180px;
    height: auto;
}


.itens{
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}

.button{
    background-color: #161718;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: 0.8s;
}

.button:hover{
    border: 1px solid rgb(201, 52, 52);
}

@media(max-width: 768px){

    .logo-2{
        width: 130px;
    }

    .button{
        font-size: 12px;
    }
}

@media(max-width: 480px){
        .navbar{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

@media(max-width: 375px){
    .button{
        font-size: 10px;
    }
}