*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #161718;
}

.logo1{
    width: 25%;
}

.itens-menu{
    animation-duration: 0,8;
    color: white;
    cursor: pointer;
    font-family: arial;
}